hello parameters

<div>
    <p>
        accept:  {{vars['accept']}}<br>
        chacheControl: {{vars['chacheControl']}}<br>
        cookie:  {{vars['cookie']}}<br>
        userAgent: {{vars['userAgent']}}<br>
        methode: {{vars['methode'] }}<br>
        host:{{vars['host'] }}<br>
        client:{{vars['client'] }}<br>
        userIp:{{vars['userIp'] }}<br>
        cookie:{{vars['cookie']}}<br>
      
    </p>
</div>